<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>howmuchis</title>
  <meta name="description" content="Calculate and convert cryptocoins">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="node_modules/normalize.css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
  <!--    <img :src="getIcon(selected.coin)"/>   -->
  <div id="app">
    <h1>howmuchis</h1>
    <section class="calc-pane">
      <div class="flex-container" v-for="(input, index) in inputs" v-cloak>
        <div class="input-container" :class="{'has-icon': input.coin.icon}">
          <input type="number" step="any" placeholder="0.00" size="4" v-model="input.amount" />
          <select required v-model="input.coin" :class="{'placeholder': input.coin == 'placeholder'}">
            <option value="placeholder" disabled selected>Cryptocurrency</option>
            <option v-for="coin in coinList" :value="coin">{{coin.desc}}</option>
          </select>
          <img v-if="input.coin.icon" class="coin-icon" @click="remove(input)" :src="'node_modules/cryptocoins-icons/SVG/' + input.coin.icon" />
          <span v-if="input.value">
            {{decimalPlaces(input.value,4)}}
          </span>
        </div>
      </div>
      <div>
        <div class="input-container button-container">
          <button @click="addCoin()">
          Add Coin
          </button>
        </div>
      </div>
      <div class="flex-container">
        <div class="button-container">
          <div>
            <b v-if="result">${{decimalPlaces(result,4)}}</b>
          </div>
          </span>
          <button :disabled="checkInvalid()" @click="calc()">
            Calc
          </button>
        </div>
      </div>
    </section>
  </div>

  <footer>
    GitHub: <a href="https://github.com/bersLucas/howmuchis" target="_blank">bersLucas/howmuchis</a> |
    Data from: <a href="https://coinmarketcap.com/" target="_blank">coinmarketcap.com</a> |
    <a href="https://coinmarketcap.com/disclaimer/" target="_blank">disclaimer</a>
  </footer>

  <script src="node_modules/vue/dist/vue.min.js"></script>
  <script src="node_modules/axios/dist/axios.min.js"></script>
  <script src="js/index.js"></script>
</body>

</html>
