<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>howmuchis</title>
        <meta name="description" content="Calculate and convert cryptocoins">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="node_modules/normalize.css/normalize.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div id="app">
          <input type="number"
                 v-model="selected.amount"/>
          <select v-model="selected.coin">
            <option v-for="coin in coinList"
                    v-bind:value="coin.id">
                    {{coin.desc}}
            </option>
          </select>
          <button :disabled="!selected.coin || !selected.amount"
                  @click="calc()">
            Calc
          </button>

          {{result}}
        </div>

        <script src="node_modules/vue/dist/vue.js"></script>
        <script src="node_modules/axios/dist/axios.min.js"></script>
        <script src="js/index.js"></script>
    </body>
</html>
